</main>
<footer>
  <div class="footer-container">
    <div class="image-footer">
      <img src="{{ site.link }}/wp-content/uploads/2021/03/logo-Be-BOLD_V31-4.png" alt="">
    </div>
  </div>
  {{ function('wp_footer') }}
</footer>
</body>
</html>

