<section id="mission">
  <div class="container-mission">
    <div class="text-container">
      <div class="title-container">
        <h2 class="sf blue">La mission</h2>
        <h2 class="sf orange">De Bebold</h2>
      </div>
      <div class="inner-text">
        <p>
            {{home.mission_text}}
        </p>
      </div>
    </div>
    <div class="image-container">

      <img src="{{ Image(home.mission_image).src }}" alt="">
    </div>
  </div>
</section>
