<section id="form">
  <form action="post">
    <div class="name">
      <div class="block-input">
    <label for="nom">Nom</label>
    <input type="text" name="nom" aria-label="nom" required placeholder="Nom">

      </div>
      <div class="block-input">
    <label for="prenom">Prénom</label>
    <input type="text" name="prenom" aria-label="prenom" required placeholder="Prénom">

      </div>

    </div>
    <div class="mail">

    <div class="block-input">
    <label for="email">Mail</label>
    <input type="email" name="email" aria-label="email" required placeholder="mail">

    </div>
    </div>
    <div class="block-input area">
    <label for="comment">Commentaire</label>
    <textarea type="text" name="text" aria-label="comment" required placeholder="Commentaire"></textarea>

    </div>
    <input type="submit" value="envoyer" class="sub-button">
  </form>
</section>
