<section class="boost">
  <div class="container-wrapper">
    <div class="title-container">
      <h3 class="sf white">BOOSTEZ VOTRE</h3>
      <h3 class="sf orange">EMPLOYABILITEE</h3>
    </div>
    <div class="logo-container">

    </div>
    <div class="text-container">
      <p>Notre offre se compose de 4 thématiques. Nous discuterons ensemble lors d’un premier entretien gratuit des
        thématiques à aborder pour vous aider, en fonction de votre situation personnelle, à augmenter votre
        employabilité et vos chances d’obtenir un contrat ! Accédez à l'accompagnement</p>
    </div>

  <div class="image-background">

  </div>
  <div class="background-layer">

  </div>
  </div>
</section>
