<section id="mission">
  <div class="mission__container">
    <div class="text__container">
      <div class="title__wrapper">
        <h2>
          La mission de bebold
        </h2>
      </div>
      <div class="inner__text">
        <p>
          Au fil des mois qui ont suivi, nous nous sommes imposés sur ce marché ultracompétitif en faisant preuve de rigueur dans la sélection de nos partenaires et en démontrant toute notre capacité à nous adapter continuellement à la demande de nos clients. Aujourd’hui, nous avons fait de la Belgique l’une des plaques tournantes du CBD en Europe en important nos produits depuis le monde entier et en les exportant dans une dizaine de pays différents en Europe.
        </p>
      </div>
    </div>
    <div class="image__container">
      <img src="" alt="">
    </div>
  </div>
</section>
