.activity-container {

	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	max-width: 1280px;
	margin: auto;
	align-items: center;
	justify-items: center;
	grid-column-gap: 25px;
	height: 100vh;
	padding: 40px;
	.title-container {
		font-family: Eczar;
		font-style: normal;
		font-weight: bold;
		font-size: calc(4.5vw + 1rem);
		line-height: 88px;
		color: #152565;
	}
	.inner-text{
		margin-top: 50px;
		p {
			font-family: Proxima Nova, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 161%;
			/* or 19px */

			letter-spacing: 0.01em;

			color: rgba(12, 27, 51, 0.7);
		}
		ul {
			list-style: disc;
			font-family: Proxima Nova, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 161%;
			/* or 19px */

			letter-spacing: 0.01em;

			color: rgba(12, 27, 51, 0.7);
			li {

			}
		}
	}
	.image-container {
		width: 100%;
		max-width: 680px;
		img {
			width: 100%;
		}
	}
}

@media (max-width: 840px) {
	.activity-container {
		grid-template-columns: 1fr;
	}
	.activity-container .title-container {
		font-size: calc(10vw + 1rem);
	}
}


.portfolio__image--l {
	.image_inside {
		background-size: cover;
		background-repeat: no-repeat;
	}
}
